.navigation {
    display: flex;
    justify-content: space-between;
    padding: 10px 40px;
    background-color: white;
}

.navigation_item {
    font-size: 10px;
    font-weight: 400;
    color: gray;
}

.navigation_item > p {
    margin: 0;
}

.active {
    color: #0C6BEE;
}